<%- include('header') %>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive table--no-card m-b-30">
                            <form class="form-header">
                                <input class="au-input au-input--xl" type="text" name="search"
                                    placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit" name="searching">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <form action="/blog/mulDel" method="post">
                                <table class="table table-borderless table-stblped table-earning first text-left ">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="multidelet">
                                                <input type="submit" value="delet">
                                            </th>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Category</th>
                                            <th>Descblption</th>
                                            <th>Image</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbbly>
                                        <% for(var bl of blogrecord) {%>
                                            <tr>
                                                <td><input type="checkbox" name="mulDel[]" class="singleDelet"
                                                        value="<%= bl.id %>"></td>
                                                <td>
                                                    <%= bl.title %>
                                                </td>
                                                <td>
                                                    <%= bl.name %>
                                                </td>
                                                <td>
                                                    <%= bl.date %>
                                                </td>
                                                <td>
                                                    <%= bl.category %>
                                                </td>
                                                <td>
                                                    <%= bl.content %>
                                                </td>
                                                <td>
                                                    <img src=" <%= bl.image %>" height="100" width="100" alt="">
                                                </td>
                                                <td>
                                                    <% if(bl.isActive) {%>
                                                        <a
                                                            href="?id=<%= bl.id %>&status=deActive&search=<%= search %>&page=<%= cpage %>">Active</a>
                                                        <% } else { %>
                                                            <a
                                                                href="?id=<%= bl.id %>&status=Active&search=<%= search %>&page=<%= cpage %>">Deactive</a>
                                                            <% } %>
                                                </td>
                                                <td><a href="/blog/deleterecord/<%= bl.id %>">Delete</a> ||
                                                    <a href="/blog/updaterecord/?id=<%= bl.id %>">Update</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <tr>
                                                    <td>
                                                        <nav aria-label="Page navigation example">
                                                            <ul class="pagination">
                                                                <% var parpagrecords=cpage %>
                                                                    <% var pre=--parpagrecords %>
                                                                        <% if(pre>0) { %>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="?page=<%= pre%>&search=<%= search %>">Previous</a>
                                                                            </li>
                                                                            <% } %>
                                                                                <li class="page-item"><a
                                                                                        class="page-link"
                                                                                        href="<%= cpage%>&search=<%= search %>">
                                                                                        <%=cpage%>
                                                                                    </a>
                                                                                </li>
                                                                                <% var next=++cpage %>
                                                                                    <% if(cpage<=PageData){ %>
                                                                                        <li class="page-item"><a
                                                                                                class="page-link"
                                                                                                href="?page=<%= next %>&search=<%= search %>">Next</a>
                                                                                        </li>
                                                                                        <% } %>
                                                            </ul>
                                                        </nav>
                                                    </td>
                                                </tr>
                                    </tbbly>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>